[IDEA]#[IDEA] [IDEA]=[IDEA]=[IDEA]=[IDEA] [IDEA]O[IDEA]b[IDEA]r[IDEA]i[IDEA]g[IDEA]a[IDEA]t[IDEA]ó[IDEA]r[IDEA]i[IDEA]a[IDEA]s[IDEA] [IDEA]=[IDEA]=[IDEA]=[IDEA]
[IDEA]D[IDEA]A[IDEA]T[IDEA]A[IDEA]B[IDEA]A[IDEA]S[IDEA]E[IDEA]_[IDEA]U[IDEA]R[IDEA]L[IDEA]=[IDEA]p[IDEA]o[IDEA]s[IDEA]t[IDEA]g[IDEA]r[IDEA]e[IDEA]s[IDEA]q[IDEA]l[IDEA]:[IDEA]/[IDEA]/[IDEA]u[IDEA]s[IDEA]e[IDEA]r[IDEA]:[IDEA]p[IDEA]a[IDEA]s[IDEA]s[IDEA]w[IDEA]o[IDEA]r[IDEA]d[IDEA]@[IDEA]h[IDEA]o[IDEA]s[IDEA]t[IDEA]:[IDEA]5[IDEA]4[IDEA]3[IDEA]2[IDEA]/[IDEA]d[IDEA]b[IDEA]n[IDEA]a[IDEA]m[IDEA]e[IDEA]
[IDEA]
[IDEA]T[IDEA]E[IDEA]L[IDEA]E[IDEA]G[IDEA]R[IDEA]A[IDEA]M[IDEA]_[IDEA]B[IDEA]O[IDEA]T[IDEA]_[IDEA]T[IDEA]O[IDEA]K[IDEA]E[IDEA]N[IDEA]=[IDEA]1[IDEA]2[IDEA]3[IDEA]4[IDEA]5[IDEA]6[IDEA]:[IDEA]A[IDEA]B[IDEA]C[IDEA]-[IDEA]D[IDEA]E[IDEA]F[IDEA].[IDEA].[IDEA].[IDEA]
[IDEA]T[IDEA]E[IDEA]L[IDEA]E[IDEA]G[IDEA]R[IDEA]A[IDEA]M[IDEA]_[IDEA]C[IDEA]H[IDEA]A[IDEA]T[IDEA]_[IDEA]I[IDEA]D[IDEA]=[IDEA]-[IDEA]1[IDEA]0[IDEA]0[IDEA]1[IDEA]2[IDEA]3[IDEA]4[IDEA]5[IDEA]6[IDEA]7[IDEA]8[IDEA]9[IDEA]
[IDEA]
[IDEA]#[IDEA] [IDEA]=[IDEA]=[IDEA]=[IDEA] [IDEA]O[IDEA]p[IDEA]c[IDEA]i[IDEA]o[IDEA]n[IDEA]a[IDEA]i[IDEA]s[IDEA] [IDEA]=[IDEA]=[IDEA]=[IDEA]
[IDEA]G[IDEA]R[IDEA]O[IDEA]Q[IDEA]_[IDEA]A[IDEA]P[IDEA]I[IDEA]_[IDEA]K[IDEA]E[IDEA]Y[IDEA]=[IDEA]g[IDEA]s[IDEA]k[IDEA]_[IDEA].[IDEA].[IDEA].[IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA]#[IDEA] [IDEA]I[IDEA]A[IDEA] [IDEA]d[IDEA]e[IDEA] [IDEA]a[IDEA]n[IDEA]á[IDEA]l[IDEA]i[IDEA]s[IDEA]e[IDEA] [IDEA]([IDEA]l[IDEA]l[IDEA]a[IDEA]m[IDEA]a[IDEA]-[IDEA]3[IDEA].[IDEA]1[IDEA]-[IDEA]8[IDEA]b[IDEA]-[IDEA]i[IDEA]n[IDEA]s[IDEA]t[IDEA]a[IDEA]n[IDEA]t[IDEA])[IDEA]
[IDEA]C[IDEA]R[IDEA]Y[IDEA]P[IDEA]T[IDEA]O[IDEA]P[IDEA]A[IDEA]N[IDEA]I[IDEA]C[IDEA]_[IDEA]T[IDEA]O[IDEA]K[IDEA]E[IDEA]N[IDEA]=[IDEA].[IDEA].[IDEA].[IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA]#[IDEA] [IDEA]F[IDEA]e[IDEA]e[IDEA]d[IDEA] [IDEA]d[IDEA]e[IDEA] [IDEA]n[IDEA]o[IDEA]t[IDEA]í[IDEA]c[IDEA]i[IDEA]a[IDEA]s[IDEA] [IDEA]c[IDEA]r[IDEA]y[IDEA]p[IDEA]t[IDEA]o[IDEA]
[IDEA]
[IDEA]#[IDEA] [IDEA]S[IDEA]c[IDEA]a[IDEA]n[IDEA]
[IDEA]S[IDEA]C[IDEA]A[IDEA]N[IDEA]_[IDEA]S[IDEA]Y[IDEA]M[IDEA]B[IDEA]O[IDEA]L[IDEA]S[IDEA]=[IDEA]B[IDEA]T[IDEA]C[IDEA],[IDEA]E[IDEA]T[IDEA]H[IDEA],[IDEA]S[IDEA]O[IDEA]L[IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA]#[IDEA] [IDEA]d[IDEA]e[IDEA]f[IDEA]a[IDEA]u[IDEA]l[IDEA]t[IDEA]:[IDEA] [IDEA]2[IDEA]4[IDEA] [IDEA]s[IDEA]í[IDEA]m[IDEA]b[IDEA]o[IDEA]l[IDEA]o[IDEA]s[IDEA] [IDEA]p[IDEA]r[IDEA]é[IDEA]-[IDEA]d[IDEA]e[IDEA]f[IDEA]i[IDEA]n[IDEA]i[IDEA]d[IDEA]o[IDEA]s[IDEA]
[IDEA]S[IDEA]C[IDEA]A[IDEA]N[IDEA]_[IDEA]I[IDEA]N[IDEA]T[IDEA]E[IDEA]R[IDEA]V[IDEA]A[IDEA]L[IDEA]=[IDEA]1[IDEA]5[IDEA]m[IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA]#[IDEA] [IDEA]i[IDEA]n[IDEA]t[IDEA]e[IDEA]r[IDEA]v[IDEA]a[IDEA]l[IDEA]o[IDEA] [IDEA]d[IDEA]o[IDEA]s[IDEA] [IDEA]c[IDEA]a[IDEA]n[IDEA]d[IDEA]l[IDEA]e[IDEA]s[IDEA] [IDEA]([IDEA]d[IDEA]e[IDEA]f[IDEA]a[IDEA]u[IDEA]l[IDEA]t[IDEA]:[IDEA] [IDEA]1[IDEA]5[IDEA]m[IDEA])[IDEA]
[IDEA]
[IDEA]#[IDEA] [IDEA]B[IDEA]a[IDEA]n[IDEA]c[IDEA]o[IDEA] [IDEA]d[IDEA]e[IDEA] [IDEA]d[IDEA]a[IDEA]d[IDEA]o[IDEA]s[IDEA]
[IDEA]D[IDEA]B[IDEA]_[IDEA]P[IDEA]O[IDEA]O[IDEA]L[IDEA]_[IDEA]M[IDEA]I[IDEA]N[IDEA]=[IDEA]2[IDEA]
[IDEA]D[IDEA]B[IDEA]_[IDEA]P[IDEA]O[IDEA]O[IDEA]L[IDEA]_[IDEA]M[IDEA]A[IDEA]X[IDEA]=[IDEA]1[IDEA]0[IDEA]
[IDEA]D[IDEA]B[IDEA]_[IDEA]C[IDEA]O[IDEA]N[IDEA]N[IDEA]E[IDEA]C[IDEA]T[IDEA]_[IDEA]T[IDEA]I[IDEA]M[IDEA]E[IDEA]O[IDEA]U[IDEA]T[IDEA]=[IDEA]1[IDEA]0[IDEA]
[IDEA]D[IDEA]B[IDEA]_[IDEA]S[IDEA]T[IDEA]A[IDEA]R[IDEA]T[IDEA]U[IDEA]P[IDEA]_[IDEA]R[IDEA]E[IDEA]T[IDEA]R[IDEA]I[IDEA]E[IDEA]S[IDEA]=[IDEA]5[IDEA]
[IDEA]D[IDEA]B[IDEA]_[IDEA]R[IDEA]E[IDEA]T[IDEA]R[IDEA]Y[IDEA]_[IDEA]B[IDEA]A[IDEA]S[IDEA]E[IDEA]_[IDEA]D[IDEA]E[IDEA]L[IDEA]A[IDEA]Y[IDEA]=[IDEA]2[IDEA].[IDEA]0[IDEA]
[IDEA]
[IDEA]#[IDEA] [IDEA]W[IDEA]e[IDEA]b[IDEA]S[IDEA]o[IDEA]c[IDEA]k[IDEA]e[IDEA]t[IDEA] [IDEA]H[IDEA]y[IDEA]p[IDEA]e[IDEA]r[IDEA]l[IDEA]i[IDEA]q[IDEA]u[IDEA]i[IDEA]d[IDEA]
[IDEA]W[IDEA]S[IDEA]_[IDEA]U[IDEA]R[IDEA]L[IDEA]=[IDEA]w[IDEA]s[IDEA]s[IDEA]:[IDEA]/[IDEA]/[IDEA]a[IDEA]p[IDEA]i[IDEA].[IDEA]h[IDEA]y[IDEA]p[IDEA]e[IDEA]r[IDEA]l[IDEA]i[IDEA]q[IDEA]u[IDEA]i[IDEA]d[IDEA].[IDEA]x[IDEA]y[IDEA]z[IDEA]/[IDEA]w[IDEA]s[IDEA]
[IDEA]W[IDEA]S[IDEA]_[IDEA]H[IDEA]E[IDEA]A[IDEA]R[IDEA]T[IDEA]B[IDEA]E[IDEA]A[IDEA]T[IDEA]_[IDEA]I[IDEA]N[IDEA]T[IDEA]E[IDEA]R[IDEA]V[IDEA]A[IDEA]L[IDEA]=[IDEA]3[IDEA]0[IDEA]
[IDEA]W[IDEA]S[IDEA]_[IDEA]R[IDEA]E[IDEA]C[IDEA]O[IDEA]N[IDEA]N[IDEA]E[IDEA]C[IDEA]T[IDEA]_[IDEA]B[IDEA]A[IDEA]S[IDEA]E[IDEA]_[IDEA]D[IDEA]E[IDEA]L[IDEA]A[IDEA]Y[IDEA]=[IDEA]1[IDEA].[IDEA]0[IDEA]
[IDEA]W[IDEA]S[IDEA]_[IDEA]R[IDEA]E[IDEA]C[IDEA]O[IDEA]N[IDEA]N[IDEA]E[IDEA]C[IDEA]T[IDEA]_[IDEA]M[IDEA]A[IDEA]X[IDEA]_[IDEA]D[IDEA]E[IDEA]L[IDEA]A[IDEA]Y[IDEA]=[IDEA]6[IDEA]0[IDEA].[IDEA]0[IDEA]
[IDEA]W[IDEA]S[IDEA]_[IDEA]R[IDEA]E[IDEA]C[IDEA]O[IDEA]N[IDEA]N[IDEA]E[IDEA]C[IDEA]T[IDEA]_[IDEA]M[IDEA]A[IDEA]X[IDEA]_[IDEA]A[IDEA]T[IDEA]T[IDEA]E[IDEA]M[IDEA]P[IDEA]T[IDEA]S[IDEA]=[IDEA]0[IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA] [IDEA]#[IDEA] [IDEA]0[IDEA] [IDEA]=[IDEA] [IDEA]i[IDEA]l[IDEA]i[IDEA]m[IDEA]i[IDEA]t[IDEA]a[IDEA]d[IDEA]o[IDEA]
[IDEA]
[IDEA]#[IDEA] [IDEA]A[IDEA]p[IDEA]p[IDEA]
[IDEA]A[IDEA]P[IDEA]P[IDEA]_[IDEA]E[IDEA]N[IDEA]V[IDEA]=[IDEA]p[IDEA]r[IDEA]o[IDEA]d[IDEA]u[IDEA]c[IDEA]t[IDEA]i[IDEA]o[IDEA]n[IDEA]
[IDEA]L[IDEA]O[IDEA]G[IDEA]_[IDEA]L[IDEA]E[IDEA]V[IDEA]E[IDEA]L[IDEA]=[IDEA]I[IDEA]N[IDEA]F[IDEA]O[IDEA]
[IDEA]P[IDEA]O[IDEA]R[IDEA]T[IDEA]=[IDEA]8[IDEA]0[IDEA]8[IDEA]0[IDEA]
[IDEA]