[IDEA]a[IDEA]s[IDEA]y[IDEA]n[IDEA]c[IDEA]p[IDEA]g[IDEA]=[IDEA]=[IDEA]0[IDEA].[IDEA]3[IDEA]0[IDEA].[IDEA]0[IDEA]
[IDEA]a[IDEA]i[IDEA]o[IDEA]h[IDEA]t[IDEA]t[IDEA]p[IDEA]=[IDEA]=[IDEA]3[IDEA].[IDEA]9[IDEA].[IDEA]5[IDEA]
[IDEA]w[IDEA]e[IDEA]b[IDEA]s[IDEA]o[IDEA]c[IDEA]k[IDEA]e[IDEA]t[IDEA]s[IDEA]=[IDEA]=[IDEA]1[IDEA]2[IDEA].[IDEA]0[IDEA]
[IDEA]p[IDEA]y[IDEA]t[IDEA]h[IDEA]o[IDEA]n[IDEA]-[IDEA]j[IDEA]s[IDEA]o[IDEA]n[IDEA]-[IDEA]l[IDEA]o[IDEA]g[IDEA]g[IDEA]e[IDEA]r[IDEA]=[IDEA]=[IDEA]2[IDEA].[IDEA]0[IDEA].[IDEA]7[IDEA]
[IDEA]A[IDEA]P[IDEA]S[IDEA]c[IDEA]h[IDEA]e[IDEA]d[IDEA]u[IDEA]l[IDEA]e[IDEA]r[IDEA]=[IDEA]=[IDEA]3[IDEA].[IDEA]1[IDEA]0[IDEA].[IDEA]4[IDEA]
[IDEA]p[IDEA]y[IDEA]t[IDEA]h[IDEA]o[IDEA]n[IDEA]-[IDEA]d[IDEA]o[IDEA]t[IDEA]e[IDEA]n[IDEA]v[IDEA]=[IDEA]=[IDEA]1[IDEA].[IDEA]0[IDEA].[IDEA]1[IDEA]
[IDEA]n[IDEA]u[IDEA]m[IDEA]p[IDEA]y[IDEA]=[IDEA]=[IDEA]1[IDEA].[IDEA]2[IDEA]6[IDEA].[IDEA]4[IDEA]
[IDEA]y[IDEA]f[IDEA]i[IDEA]n[IDEA]a[IDEA]n[IDEA]c[IDEA]e[IDEA]=[IDEA]=[IDEA]0[IDEA].[IDEA]2[IDEA].[IDEA]3[IDEA]8[IDEA]
[IDEA]b[IDEA]e[IDEA]a[IDEA]u[IDEA]t[IDEA]i[IDEA]f[IDEA]u[IDEA]l[IDEA]s[IDEA]o[IDEA]u[IDEA]p[IDEA]4[IDEA]=[IDEA]=[IDEA]4[IDEA].[IDEA]1[IDEA]2[IDEA].[IDEA]3[IDEA]
[IDEA]